.App {
    text-align: center;
}

table.UC_TreeTable {
    text-align: left;
}

    table.UC_TreeTable th.ExpandIndicator {
        width: auto;
        min-width: 25px;
    }

.RuinedErrorText {
    color: red;
}
